[submodule "Lighthouse/vendor/spdlog"]
	path = Lighthouse/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Lighthouse/vendor/GLFW"]
	path = Lighthouse/vendor/GLFW
	url = https://github.com/glfw/glfw
[submodule "Lighthouse/vendor/glm"]
	path = Lighthouse/vendor/glm
	url = https://github.com/g-truc/glm
